{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["prismjs", {
      "languages": ["javascript", "css", "typescript", "markup", "tsx", "jsx"],
      "plugins": ["line-numbers"],
      "theme": "solarizedlight",
      "css": true
    }]
  ]
}
